 <!-- Header -->
 <div class="text-right" style="padding-right:20px;padding-top: 20px;">
    <div class="user-links"><%
        if (sessdata.type === 1){%>
        <!--div id="nav-admin-user"-->
            <a href="/users" class="nav-brand" style="margin-right:10px;">User</a>
            <a href="/tasks" class="nav-brand" style="margin-right:10px;">Task</a>
        <!--/div--><%} else {%>
        <!--div id="nav-user"-->
            <a href="/users/<%=sessdata.id%>" class="nav-brand user" style="margin-right:10px;">Profile</a>
            <a href="/tasks/user/<%=sessdata.id%>" class="nav-brand task" style="margin-right:10px;">Task</a>
        <!--/div--><%
        }%><a href="/logout" class="nav-brand" style="margin-right:10px;">Log out</a>    
    </div>
</div>
<!-- /Header -->