<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    <div class="not-found content">
        <h2>404 Wooops!</h2>
        <h3>This page does not exists</h3>
    </div>
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->