<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Safe Test Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>    
<div class="app-title"><h2>Task Manager</h2></div>
<br/><br/><br>
<div class="main">
    <span style="min-width:100%;text-align:center;"><p><h2>Login</h2></p></span>
    <!-- form handling -->
    <br/><br/>
    <div class="main-form"style="
    margin: auto;
    padding: 10px;
    vertical-align:middle;">
    <form action="/login" method="POST" id="login">
        <div class="new_user">       
            <div class="form-group">
                <label for="username" class="text-light">User Name</label>
                <input type="text" id="username" name="username" value="" placeholder="User name">
            </div>
            <div class="form-group">
                <label for="password" class="text-light">Password</label>
                <input type="password" id="password" name="password" value="" placeholder="Password">
            </div>

            <div class="form-group">
                <button type="submit" class="btn text-dark update">Submit</button>
            </div>
            <div class="form-group">
                
                <div class="no-account-signup">Don't have an account? <a href="/signup">Signup</a></div>
            </div>
        </div>
    </form>
    </div>
</div>
</body>
<footer style="color: #777;
text-align: center;
margin: 80px auto 20px;">    
   Copyright &copy; Smart-Test 2022
</footer>
</html>